@{
    Layout = "../../Shared/Views/Shared/_GlobalLayout";
}

<main id="main" class="bg-base p-10 sm:rounded text-light w-full sm:max-w-[500px] h-full sm:h-auto sm:min-h-[500px]">
    @RenderBody()
</main>

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}
