@model Thavyra.Shared.Models.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-2xl font-extralight">
        Welcome @Model.Username
    </h1>
    <p>Your ID is @Model.Id.</p>
    
    <a class="link" asp-area="Oidc" asp-controller="Login" asp-action="Logout">Log Out</a>
</div>